[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
[submodule "slam"]
	path = slam
	url = https://github.com/vrld/slam.git
[submodule "tween"]
	path = tween
	url = https://github.com/kikito/tween.lua.git
